@using ToDoList.Models;

<h1>To Do List</h1>
<hr>

<h2>Edit item: @Model.Description</h2>

<form action="/items/@Model.Id" method="post">
  <label for="newDescription">Name:</label>
  <input type="text" name="newDescription" value="@Model.Description">
  <button type="submit">Edit</button>
</form>

<h4><a href="/items">Return to previous page</a></h4>
